<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>{{ profile.user.username }}'s Profile</h1>
    <p>Address: {{ profile.address }}</p>
    <p>Phone Number: {{ profile.phone_number }}</p>
    {% if profile.profile_picture %}
    <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
    {% endif %}
    <a href="{% url 'users:profile_edit' %}">Edit Profile</a>
  </body>
</html>
